[submodule "model-context-tool-inspector"]
        path = model-context-tool-inspector
        url = git@github.com:beaufortfrancois/model-context-tool-inspector.git
        branch = c9fbf9a7314ebfbb3ddb539d707548788435f059 # Version 1.9.19
