[submodule "model-context-tool-inspector"]
        path = model-context-tool-inspector
        url = git@github.com:beaufortfrancois/model-context-tool-inspector.git
        branch = f6bf8a8f5a92536bad0db578a626e32f7935f79d # Version 1.9.7
